    #register {
        display: none;
    }

    #confirmButton {
        display: none;
    }
    
    #notWorkingButton {
        opacity: 0.4;
        height: 30px;
        line-height: 30px;
        width: 80px;
        border-radius: 15px;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        background: #FFFFFF;
        color: #007373;
        border: solid #007373;
    }

    #logInForm .input {
        text-align: center;
        height: 30px;
        line-height: 30px;
        width: 250px;
        border: solid 1px #007373;
        margin: 3px;
        color: #007373;
    }

    #logInForm .input:focus {
        border: double #007373;
    }

    #logInForm .button {
        height: 30px;
        line-height: 30px;
        width: 80px;
        border-radius: 15px;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        background: #FFFFFF;
        color: #007373;
        border: solid #007373;
        font-family: "Times New Roman", Times, serif;
    }

    #logInForm .button:hover {
        background: #007373;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    #logInForm .button2 {
        height: 35px;
        width: 85px;
        border-radius: 15px;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        background: #FFFFFF;
        color: #007373;
        border: solid #007373;
        font-family: "Times New Roman", Times, serif;
        font-size: 1.04em;
    }

    #logInForm .button2:hover {
        background: #007373;
        color: #FFFFFF;
        cursor: pointer;
    }

    #logInForm .orRegister {
        margin-top: 5px;
        text-decoration: underline;
    }
    
    #logInForm .orRegister:hover {
        color: #007373;
        cursor: pointer;
    }
    
    #red {
        color: red;
    }

    .clear {
        clear: both;
    }

    @media screen and (min-width: 900px) {
        html {
            background: black;
        }
        #wrapper {
            width: 100%;
            height: 100vh;
            background-image: url(../images/layOutPics/home.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
        #infoBox {
            color: white;
            font-family: Georgia, Serif;
            font-size: 2em;
            text-align: center;
            width: 50%;
            margin-top: 12.5%;
            float: left;
        }
        #logInForm {
            float: left;
            text-align: center;
            width: 50%;
            margin-top: 12.5%;
            height: 400px;
            color: #FFFFFF;
            float: left;
        }
    }

    @media screen and (max-width: 899px) {
        body {
            background: black;
        }
        #wrapper {
            width: 100%;
            height: 100vh;
            background-image: url(../images/layOutPics/home.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
        }
        #infoBox {
            color: white;
            font-family: Georgia, Serif;
            text-align: center;
            width: 100%;
            margin-top: 35px;
            float: left;
        }
        #logInForm {
            float: left;
            text-align: center;
            width: 100%;
            margin-top: 60px;
            height: 400px;
            color: #FFFFFF;
            float: left;
        }
    }
