.whiteText{
    color: #FFFFFF;
}
.badgePic2 {
    width: 100%;
    height: 100%;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}

@media screen and (min-width: 900px) {
    #loadingText {
        color: #FFFFFF;
        text-align: center !important;
        margin-top: 175px;
    }
    #loadingPic {
        width: 50%;
    }
    .badgePic {
        width: 100%;
        height: 100%;
    }
    .subBadgePic {
        width: 70%;
        height: 80%;
        margin-left: 15%;
        margin-top: 10%;
    }
    #playerInformationWrapper {
        display: none;
        width: 600px;
        height: 400px;
        background-color: #BF0000;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 999999999;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -webkit-border-top-left-radius: 15px;
        -moz-border-top-left-radius: 15px;
        border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-top-right-radius: 15px;
        border-top-right-radius: 15px;
        text-align: center;
    }
    #playerInformationHeader {
        width: 594px;
        height: 40px;
        margin-left: 2px;
        margin-top: 2px;
        background-color: #FFFFFF;
        border: 1px solid #BF0000;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -webkit-border-top-left-radius: 15px;
        -moz-border-top-left-radius: 15px;
        border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-top-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    #playerInformationClubBadge {
        width: 35px;
        height: 35px;
        margin-top: 2.5px;
        margin-left: 20px;
        float: left;
        -webkit-border-radius: 17.5px;
        -moz-border-radius: 17.5px;
        border-radius: 17.5px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    #playerInformationName {
        width: 500px;
        float: left;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #BF0000;
    }
    #playerInformationCloseButton {
        height: 24px;
        line-height: 24px;
        text-align: center;
        width: 25px;
        margin-top: 7px;
        margin-right: 7px;
        float: right;
        border: 1px solid #BF0000;
        background-color: #BF0000;
        color: #FFFFFF;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    #playerInformationCloseButton:hover {
        background-color: #FFFFFF;
        color: #BF0000;
        cursor: pointer;
    }
    #playerInformationOptions {
        width: 592px;
        height: 40px;
        margin-left: 3px;
        margin-top: 2px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    #playerInformationOptionsTabsHolder {
        width: 500px;
        margin-left: 50px;
        height: 40px;
    }
    .playerInformationOptionsTab {
        display: inline-block;
        width: 161px;
        border: 1px solid #BF0000;
        border-bottom: none;
        text-align: center;
        color: #BF0000;
        height: 37px;
        line-height: 37px;
        margin-top: 3px;
        -webkit-border-top-left-radius: 15px;
        -moz-border-top-left-radius: 15px;
        border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-top-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    .playerInformationOptionsTab:hover {
        background-color: #BF0000;
        color: #FFFFFF;
        cursor: pointer;
    }
    .playerInformationOptionsTabSelected {
        display: inline-block;
        width: 161px;
        border: 1px solid #BF0000;
        border-bottom: none;
        text-align: center;
        color: #FFFFFF;
        background-color: #BF0000;
        height: 37px;
        line-height: 37px;
        margin-top: 3px;
        -webkit-border-top-left-radius: 15px;
        -moz-border-top-left-radius: 15px;
        border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-top-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    .playerInformationOptionsTabSelected:hover {
        cursor: pointer;
    }
    .playerDetailsHolder {
        width: 596px;
        margin-left: 2px;
        height: 308px;
        margin-top: 2px;
        position: relative;
        overflow: auto;
    }
    #playerImage {
        position: absolute;
        top: 20px;
        left: 40px;
        width: 100px;
        height: 100px;
        background-color: white;
        border: 1px solid white;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    #playerInfo {
        position: absolute;
        top: 140px;
        left: 20px;
        width: 140px;
        height: 150px;
        background-color: white;
        border: 1px solid white;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    .playerInfoRow {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: small;
        color: #BF0000;
    }
    .playerInfoRow:nth-child(even) {
        background: #FFE5E5;
    }
    .playerInfoRow:nth-child(odd) {
        background: #FFFFFF;
    }
    #detailsHolder {
        position: absolute;
        top: 20px;
        left: 180px;
        width: 406px;
        height: 270px;
        border: 1px solid white;
        background-color: #FFFFFF;
        text-align: center;
    }
    .quickStats {
        width: 80px;
        height: 70px;
        margin: 5px;
        display: inline-block;
    }
    .quickStatsName {
        background-color: #BF0000;
        width: 100%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        font-size: small;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    .quickStatsValue {
        background-color: #BF0000;
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        font-size: small;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin: auto;
        margin-top: 5px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    .gameDetails {
        width: 180px;
        height: 100px;
        margin-left: 14px;
        border: 1px solid #BF0000;
        float: left;
        font-size: small;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-bottom-left-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-bottom-right-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    .gameDetails table {
        width: 100%;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        height: 100px;
        color: #BF0000;
    }
    .gameDetails table th {
        height: 31px;
        line-height: 31px;
        background-color: #BF0000;
        color: #FFFFFF;
    }
    .gameDetails table td {
        vertical-align: middle;
    }
    .gameDetails table tr:nth-child(odd) {
        background: #FFE5E5;
    }
}

@media screen and (max-width: 899px) {
    #loadingText {
        color: #FFFFFF;
        text-align: center !important;
        margin-top: 100px;
    }
    #loadingPic {
        width: 50%;
        margin-bottom: 100px;
    }
    .badge {
        position: relative;
        width: 100%;
        height: 60%;
    }
    .badgePic {
        width: 100%;
        height: 100%;
    }
    .subBadgePic {
        width: 70%;
        height: 80%;
        margin-left: 15%;
        margin-top: 10%;
    }
    #playerInformationWrapper {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: #BF0000;
        position: absolute;
        z-index: 999999999;
        text-align: center;
    }
    #playerInformationHeader {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 40px;
        background-color: #FFFFFF;
        z-index: 9999999999;
        border-bottom: 1px solid #BF0000;
        text-align: center;
    }
    #playerInformationClubBadge {
        width: 35px;
        height: 35px;
        margin-top: 2.5px;
        margin-left: 20px;
        float: left;
        -webkit-border-radius: 17.5px;
        -moz-border-radius: 17.5px;
        border-radius: 17.5px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    #playerInformationName {
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #BF0000;
    }
    #playerInformationCloseButton {
        height: 24px;
        line-height: 24px;
        text-align: center;
        width: 25px;
        position: absolute;
        top: 7px;
        right: 7px;
        border: 1px solid #BF0000;
        background-color: #BF0000;
        color: #FFFFFF;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    #playerInformationCloseButton:hover {
        background-color: #FFFFFF;
        color: #BF0000;
        cursor: pointer;
    }
    #playerInformationOptions {
        width: 100%;
        height: 40px;
        margin-top: 42px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        text-align: center;
    }
    #playerInformationOptionsTabsHolder {
        width: 100%;
        height: 40px;
    }
    .playerInformationOptionsTab {
        display: inline-block;
        width: 30%;
        border: 1px solid #BF0000;
        border-bottom: none;
        text-align: center;
        color: #BF0000;
        height: 37px;
        line-height: 37px;
        margin-top: 3px;
        -webkit-border-top-left-radius: 15px;
        -moz-border-top-left-radius: 15px;
        border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-top-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    .playerInformationOptionsTab:hover {
        background-color: #BF0000;
        color: #FFFFFF;
        cursor: pointer;
    }
    .playerInformationOptionsTabSelected {
        display: inline-block;
        width: 31%;
        margin-left: 2%;
        border: 1px solid #BF0000;
        border-bottom: none;
        text-align: center;
        color: #FFFFFF;
        background-color: #BF0000;
        height: 37px;
        line-height: 37px;
        margin-top: 3px;
        -webkit-border-top-left-radius: 15px;
        -moz-border-top-left-radius: 15px;
        border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-top-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    .playerInformationOptionsTabSelected:hover {
        cursor: pointer;
    }
    .playerDetailsHolder {
        width: 100%;
        margin-top: 2px;
        text-align: center;
        position: relative;
    }
    #playerImage {
        display: inline-block;
        width: 140px;
        height: 140px;
        margin: auto;
        margin-top: 10px;
        background-color: white;
        border: 1px solid white;
        -webkit-border-radius: 70px;
        -moz-border-radius: 70px;
        border-radius: 70px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    #playerInfo {
        display: inline-block;
        width: 140px;
        height: 150px;
        margin: auto;
        margin: 10px;
        background-color: white;
        border: 1px solid white;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    .playerInfoRow {
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: small;
        color: #BF0000;
    }
    .playerInfoRow:nth-child(even) {
        background: #FFE5E5;
    }
    .playerInfoRow:nth-child(odd) {
        background: #FFFFFF;
    }
    #detailsHolder {
        width: 75%;
        margin: auto;
        margin-bottom: 10px;
        border: 1px solid white;
        background-color: #FFFFFF;
        text-align: center;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    .quickStats {
        width: 80px;
        height: 70px;
        margin: 5px;
        display: inline-block;
        font-size: small;
    }
    .quickStatsName {
        background-color: #BF0000;
        width: 100%;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    .quickStatsValue {
        background-color: #BF0000;
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin: auto;
        margin-top: 5px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    .gameDetails {
        width: 90%;
        height: 100px;
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 2px;
        border: 1px solid #BF0000;
        float: left;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-bottom-left-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-bottom-right-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.75);
    }
    .gameDetails table {
        width: 100%;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        height: 100px;
        color: #BF0000;
        font-size: small;
    }
    .gameDetails table th {
        height: 31px;
        line-height: 31px;
        background-color: #BF0000;
        color: #FFFFFF;
    }
    .gameDetails table td {
        height: 23px;
        line-height: 23px;
    }
    .gameDetails table tr:nth-child(odd) {
        background: #FFE5E5;
    }
}

#overviewHolder {
    display: block;
}

#historyHolder {
    displaye: none;
}

#fixturesHolder {
    display: none;
}

.HistoryTable {
    width: 100%;
    background: #FFFFFF;
    text-align: center;
    height: 100px;
    color: #BF0000;
    cursor: pointer;
    font-size: small;
}

.HistoryTable th {
    height: 31px;
    line-height: 31px;
    background-color: #BF0000;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.HistoryTable td {
    height: 23px;
    line-height: 23px;
    border: 1px solid #BF0000;
}

.HistoryTable tr:nth-child(odd) {
    background: #FFE5E5;
}
